/** PRODUCT CARD */

#phoneList img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card {
    border: solid 1px #eeeeee;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
    transition: 0.3s all ease-in-out;
    height: 600px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    .content-overlay {
        background: #000000cc;
        position: absolute;
        height: 120%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
    }
    .btn {
        font-size: 17px;
        border-radius: 20px;
        position: absolute;
        top: 100%;
        left: 25%;
        transition: all 0.5s ease-in-out 0s;
        z-index: 1;
        background-color: #daa300;
        opacity: 0;
        &:hover {
            background-color: #f0b70e;
        }
    }
    span {
        font-weight: 400;
        font-size: 14px;
    }
    b {
        font-weight: 600;
    }
    h5 {
        font-size: 16px;
    }
    .text-muted {
        font-size: 16px;
    }

    &:hover {
        box-shadow: 2px 2px 30px #8b25ff;
        box-shadow: #f02eaa66 5px 5px, #f02eaa4d 10px 10px, #f02eaa33 15px 15px, #f02eaa1a 20px 20px,
            #f02eaa0d 25px 25px;
        border: none;
        box-shadow: #293e63 0px 22px 70px 4px;
        transform: scale(1.1);
        z-index: 1;
        .content-overlay {
            opacity: 1;
        }
        .content-details {
            top: 40%;
            left: 50%;
            opacity: 1;
        }
        .btn {
            top: 85%;
            opacity: 1;
            &:active {
                transition: all 0.15s ease-in-out 0s;
                background-color: #ffdc74;
            }
        }
    }
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
    h3 {
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-bottom: 0.5em;
        font-size: 1.5em;
    }
    p {
        color: #fff;
        font-size: 1em;
    }
}

.fadeIn-top {
    top: 20%;
}

.card-body {
    padding-bottom: 0;
    min-width: fit-content;
}

.card-img {
    padding-top: 10px;
    width: inherit;
    height: 200px;
    object-fit: contain;
    display: block;
}

.brand-box {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: fit-content;
    background-color: #eaeaea;
    padding: 0 5px;
}
